{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
Reset Password | {{site_name}}
{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 pt-3">
      
      <div class="card" data-aos="fade-left" data-aos-delay="50">
        <div class="card-title justify-content-center m-0 text-center p-2">
          <h3 class="m-0 p-0">Reset Password</h3>
        </div>
        <div class="card-body mt-3">
          <form action="{% url 'accounts-forget-password' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
  
            <div class="row mt-1">
              <label class="col-sm-3 col-form-label" for="inputemail">Email <span class="text-danger">*</span></label>
              <div class="col-sm-9">
                <input required type="email" name="email" placeholder="abc@gmail.com" class="form-control" id="inputemail"
                value="{{ FieldValues.email }}" />
              </div>
            </div>

            <button class="btn btn-default w-100 mt-3 submit-btn" type="submit">Submit</button>

          </form>
        </div>
      </div>
    </div>
    
</div>
{% endblock content %}