{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
Set New Password | {{site_name}}
{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 pt-3">
      <div class="card" data-aos="fade-left" data-aos-delay="50">
        <div class="card-title justify-content-center m-0 text-center p-2">
          <h3 class="m-0 p-0">Set New Password</h3>
        </div>
        <div class="card-body mt-2">
          <form action="{% url 'accounts-reset-user-password' uidb64 token %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
  
            <div class="row mt-1">
                <label class="col-sm-3 col-form-label" for="inputpassword1">Password <span class="text-danger">*</span> 
                <span class="nvs-tooltip" href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip" data-bs-title="<strong>★</strong> Password must contain atleast 8 characters." data-bs-html="true">
                    <span class="badge rounded-pill text-bg-warning">i</span>
                </span>
                </label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input id="inputpassword1" type="password" class="form-control" name="password1" placeholder="Password" required>
                    <span class="input-group-text">
                      <i toggle="#inputpassword1" class="fa fa-fw toggle-password fa-eye"></i>
                    </span>
                  </div>
                </div>
              </div>
            <div class="row mt-2">
                <label class="col-sm-3 col-form-label" for="inputpassword2">Confirm Password <span class="text-danger">*</span> 
                </label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input id="inputpassword2" type="password" class="form-control" name="password2" placeholder="Confirm Password" required>
                    <span class="input-group-text">
                      <i toggle="#inputpassword2" class="fa fa-fw toggle-password fa-eye"></i>
                    </span>
                  </div>
                </div>
              </div>

            <button class="btn btn-default w-100 mt-3 submit-btn" type="submit">Submit</button>

          </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}