{% extends 'base/index.html' %}

{% block content %}
<div class="container mt-4">
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% else %}
    <div class="row">
        <h3>Uploaded File: {{ uploaded_file.file.name }}</h3>
        <div class="col-md-6">
            <h3>Top Columns:</h3>
            <ul>
                {% for column in top_columns %}
                <li>{{ column }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Y Column:</h3>
            <p>{{ y_column }}</p>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header p-1">
                <h3>Data Summary</h3>
            </div>
            <div class="card-body pt-1">
                <div class="col-md-12">
                    {{ data_summary | safe }}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header p-1">
                <h3>Data Report</h3>
            </div>
            <div class="card-body pt-1">
                <div class="col-md-12">
                    <pre>{{ report | safe  }}</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Plots</h3>
            {% for plot_html in plots_html %}
                {{ plot_html | safe }}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Forecast Data</h3>
            <pre>{{ forecast_data | default:"Unable to generate forecast data" }}</pre>
        </div>
        <div class="col-md-6">
            <h3>Linear Regression Trend Analysis</h3>
            {% if trend_data and trend_line %}
                <div id="linear-regression-scatter-plot">
                    {{ trend_data|safe }}
                </div>
                <div id="linear-regression-trend-plot">
                    {{ trend_line|safe }}
                </div>
            {% else %}
                <p>No data available for linear regression trend analysis.</p>
            {% endif %}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Anomalies Detection</h3>
            {% if anomalies and anomalies_s %}
                <div id="anomalies-scatter-plot">
                    {{ anomalies|safe }}
                </div>
                <div id="anomalies-plot">
                    {{ anomalies_s|safe }}
                </div>
            {% else %}
                <p>No anomalies detected.</p>
            {% endif %}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Histograms</h3>
            {% for histogram in histograms %}
                <div class="mb-4 d-flex">
                    {{ histogram|safe }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h3>Correlation Matrix</h3>
            <div>
                {{ correlation_matrix|safe }}
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Box Plots</h3>
            {% for box_plot in box_plots %}
                <div class="mb-4">
                    {{ box_plot|safe }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h3>Heatmap</h3>
            <div>
                {{ heatmap|safe }}
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Pair Plots</h3>
            <div>
                {{ pair_plots|safe }}
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Principal Component Analysis (PCA) Plot</h3>
            <div>
                {{ pca_plot|safe }}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script>
    $(document).ready(function() {
        $('.table').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        } );
    } );
</script>
{% endblock scripts %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
<style>
    .nvs-table-data-ds thead{
        color:#000;
        border-color: #cbccce;
    }
    .nvs-table-data-ds thead tr th{
        color: #1071cd !important;
    }
    .dt-button{
        background-color: #0f6dc6 !important;
        color: #ffffff !important;
        border-radius: 2px !important;
    }
</style>
{% endblock styles %}