{% extends 'base/index.html' %} 

{% block content %}
<h2 class="text-center">Take the Entrepreneurial Assessment Now!</h2>
<p class="text-center">Discover your strengths, identify opportunities, and chart your path to success.</p>
<div class="container-h p-0 m-0">
  <iframe id="myIframe" src="https://businessmodel.vercel.app/" frameborder="0" allowfullscreen="true" style="width:100%; height:100%; overflow:hidden;"></iframe>
</div>
{% endblock content %}

{% block styles %}
  <style>
    .container-h{
      width: 100% !important;
    height: 100%;
    overflow: hidden;
    }
    #myIframe{
      height: 100%;
      min-height: 100vh !important;
      width: 100% !important;
    }
  </style>
{% endblock styles %}